*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.itemList {
    text-align: center;
    margin-top: 40px;
}
h1 {
    color: #BC6C25;
}
.navbar-brand {
    color: #BC6C25;
}
.nav-link {
    color: #d4a373;
}
