*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.itemList {
    text-align: center;
    margin-top: 40px;
}
.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.header{
    display: grid;
    align-items: center;
}
h1 {
    text-align: center;
    color: #BC6C25;
}
.text-init {
    align-content: space-around;
    margin: 50px;
}
.navbar-expand-lg {
    align-items: center;
}
.navbar-brand {
    color: #BC6C25;
}
.nav-link {
    color: #d4a373;
}

.item-list-container {
    max-width: 1000px;
    margin: 20;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto {
    background-color: #f5ebe0;
    border-radius: .5rem;
    padding: 1rem;
    margin: 50px;
    
}